h1 {
    color: white;
}

.blueText {
    color: blue;
}

.redText {
    color: red;
}

#greenText {
    color: darkgreen;
    background-color: #FF0000;
}

#page_headerSection {
    background-color: #88b4ff;
}

#text_theDoctor {
    color: orange;
}

#text_blueDoctor {
    color: blue;
}

#page_infernoTitle {
    background-color: yellow;
}

#page_fatherTitle {
    color: yellow;
    background-color: darkgreen;
}

#page_artParagraph {
    background-color: lightgreen;
}

#page_daughterTitle {
    color: red;
}

#page_footerSection {
    background-color: yellow;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}
